@model IEnumerable<BioDent.Models.EExtraOral>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Tables <small>Some examples to get you started</small></h3>
            </div>
            <div class="title_right">
                @using (Html.BeginForm())
                {
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            @Html.TextBox("nombreBuscar", null, new { @class = "form-control" })
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Buscar</button>
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Listado de Exámenes Extra Oral <small>Try hovering over the rows</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="pull-right">


                                    <a href='@(Url.Action("Create", "EExtraOrals"))' class="btn btn-round btn-primary btn-sm"><i class="fa fa-plus-circle"></i> Agregar nuevo</a>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Cabeza)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Cuello)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.GangliosCervicales)
                                        </th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cabeza)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cuello)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.GangliosCervicales)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Identificador }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.Identificador }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.Identificador })
                                            </td>
                                        </tr>
                                    }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
